Client/Service References/MusicSheetDataService/MusicSheetDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interfaces.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interfaces.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="CollectionBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendlyId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" nillable="true" type="q1:BsonObjectId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionBase" nillable="true" type="tns:CollectionBase" />
</xs:schema>