Client/Service References/MusicSheetDataService/MusicSheetDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Objects.Database" />
  <xs:element name="GetMusicSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendlyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Objects.Database" minOccurs="0" name="GetMusicSheetResult" nillable="true" type="q1:MusicSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMusicSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Objects.Database" minOccurs="0" name="sheet" nillable="true" type="q2:MusicSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMusicSheetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>