Client/Service References/MusicSheetDataService/MusicSheetDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MusicSheetDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Objects.Database" />
      <xsd:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Interfaces.Database" />
      <xsd:import schemaLocation="http://localhost:49906/MusicSheetDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMusicSheetDataService_GetMusicSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMusicSheet" />
  </wsdl:message>
  <wsdl:message name="IMusicSheetDataService_GetMusicSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMusicSheetResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicSheetDataService_InsertMusicSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMusicSheet" />
  </wsdl:message>
  <wsdl:message name="IMusicSheetDataService_InsertMusicSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMusicSheetResponse" />
  </wsdl:message>
  <wsdl:portType name="IMusicSheetDataService">
    <wsdl:operation name="GetMusicSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicSheetDataService/GetMusicSheet" message="tns:IMusicSheetDataService_GetMusicSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicSheetDataService/GetMusicSheetResponse" message="tns:IMusicSheetDataService_GetMusicSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMusicSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicSheetDataService/InsertMusicSheet" message="tns:IMusicSheetDataService_InsertMusicSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicSheetDataService/InsertMusicSheetResponse" message="tns:IMusicSheetDataService_InsertMusicSheet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMusicSheetDataService" type="tns:IMusicSheetDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMusicSheet">
      <soap:operation soapAction="http://tempuri.org/IMusicSheetDataService/GetMusicSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMusicSheet">
      <soap:operation soapAction="http://tempuri.org/IMusicSheetDataService/InsertMusicSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MusicSheetDataService">
    <wsdl:port name="BasicHttpBinding_IMusicSheetDataService" binding="tns:BasicHttpBinding_IMusicSheetDataService">
      <soap:address location="http://localhost:49906/MusicSheetDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>